[draggable] {
    position: relative;
    -moz-user-select: -moz-none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -o-user-select: none;
    user-select: none;
}
.list {
    float: left;
    background-color: #E3E3E3;
    border-radius: 3px;
    margin: 5px 5px 5px 5px;
    padding: 10px;
    width: 260px;
}
.list>header {
    font-weight: bold;
    font-size: 15px;
    line-height: 18px;
    cursor: grab;
}
.list article {
    border-radius: 3px;
    margin-top: 5px;
}

.list .card {
    background-color: #FFF;
    border-bottom: 1px solid #CCC;
    padding: 6px 8px;
    cursor: pointer;
}
.list .card:hover {
    background-color: #F0F0F0;
}
.detail {
    font-size: 12px;
    color: #939393;
}
.hidden {
    display: none;
}
[data-fakenode] {
    background-color: gray;
}
.header{
    word-wrap: break-word;
}

input[type=text]{
    width:100%;
    border:2px solid #aaa;
    border-radius:4px;
    margin:8px 0;
    outline:none;
    padding:8px;
    box-sizing:border-box;
    transition:.3s;
}

input[type=text]:focus{
    border-color:dodgerBlue;
    box-shadow:0 0 8px 0 dodgerBlue;
}